
manifest{

    mainScript = 'call_peaks_analysis_pipeline.nf'


}

conda {

    enabled = true
}


profiles {


    peak_calling_analysis {

        params {
            plot_idr = 0.05 // the default is 0.05 to report in the png plots which peaks passed this threshold
            return_idr = 1  // the default is all peaks will be returned even if the report plots the ones that pass a certain number. 1 as default here will give back all peaks like idr has set
            make_html_report = false
            treatment_name = null
            masterPeak100kb = false
            masterPeak10kb = false
            masterPeak30kb = false
            dups_log = []
            narrowPeak_data = false
            broadPeak_data = false
            atac_analysis = false // if the user wants to do the atac seq analysis, they will need to add the path to bam files using the parameters (control_histone_signal, treatment_histone_signal)
            PE = false // this is for the pair end reads experiment so the pipeline knows what it is 
            SE = false // this is for the single end reads experiment so the pipeline knows how to handle it
            macs2 = false
            raw_bigwig = false
            cpm_bigwig = false
            rpgc_bigwig = false
            //rpgc_effectiveGenomeSize = false // this is needed for the rpgc normalized bigwig
            rpgc_num_effectiveGenomeSize = '2864785220' // this will be the default we use. most likely the size for the hg38
            sicer2 = false // not sure why this parameter was not here yet
            sicer2_fdr = '0.3'
            sicer2_gap_size = '2000'
            sicer2_window_size = '200' // this is the defualt value in sicer2, now the user can change it
        
        }


    

        process {

            executor = 'slurm'
            // clusterOptions = '-A risc_hotel_bank'
            // clusterOptions = '-A risc_condo_bank'
            // queue = 'hpc_l40_a'
            // queue = 'hpc_a10_a'
            queue = 'hpc_l40s_b'
            // queue = 'risc_a'
            // queue = 'hpc_l40s'

            withLabel: normal_big_memory {
                memory = 200.GB
                time = '5.h'
                cpus = 5
            }

            withLabel: normal_big_resources {
                memory = 80.GB
                time = '5.h'
                cpus = 26

            }
            withLabel: normal_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 15

            }

            withLabel: super_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 2
            }
            withLabel: super_big_resources {
                memory = 200.GB
                time = '5.h'
                cpus = 20

            }


        }



    }
}